<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Appproject"
        tools:targetApi="31">
        <activity
            android:name=".Activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CartAcivity"
            android:exported="false" />
        <activity
            android:name=".Activity.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FullScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CategoryViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" />
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

       <!-- <receiver android:name="com.razorpay.RzpTokenReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.example.appproject.ACTION_RECEIVE" />
            </intent-filter>
        </receiver>-->

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
    </application>

</manifest>